<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.dg.s10.member.MemberDAO">
  	<select id="getFile" parameterType="MemberDTO" resultType="MemberFilesDTO">
  		SELECT * FROM MEMBERFILES WHERE ID=#{id}
   	</select>
  
  
  	<insert id="setFileInsert" parameterType="MemberFilesDTO">
  		INSERT INTO MEMBERFILES (NUM, ID, FILENAME, ORINAME) VALUES (FILES_SEQ.NEXTVAL, #{id}, #{fileName}, #{oriName})
  	</insert>
  
  	<select id="getLogin" parameterType="MemberDTO" resultType="MemberDTO">
  		SELECT * FROM MEMBER WHERE id=#{id} AND pw=#{pw}
  	</select>  
  
  	<select id="getIdCheck" parameterType="MemberDTO" resultType="MemberDTO">
  		SELECT ID FROM MEMBER WHERE id=#{id}
  	</select>
  	
  	<insert id="setJoin" parameterType="MemberDTO">
  		INSERT INTO MEMBER(id, pw, name, phone, email)
  		VALUES(#{id}, #{pw}, #{name}, #{phone}, #{email})
  	</insert>
  	
  	<update id="setUpdate" parameterType="MemberDTO">
  		UPDATE MEMBER SET PW=#{pw}, PHONE=#{phone}, EMAIL=#{email} WHERE ID=#{id}
  	</update> 
  	
  	<delete id="setDelete" parameterType="MemberDTO">
		DELETE MEMBER WHERE ID=#{id} and PW=#{pw}
	</delete>
  
  
  
  </mapper>
  