<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dg.s10.board.notice.NoticeDAO">

	<insert id="setFile" parameterType="BoardFilesDTO">
		INSERT INTO NOTICEFILES(FILENUM, NUM, FILENAME, ORINAME) VALUES (FILES_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
	</insert>

	<select id="getCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(NUM) FROM NOTICE
		WHERE
		<choose>
			<when test="kind == 'title'">
				title
			</when>
			<when test="kind == 'contents'">
				contents
			</when>
			<otherwise>
				writer
			</otherwise>
		</choose>
		LIKE '%' || #{search} || '%'
	</select>
	
	<select id="getList" resultType="NoticeDTO"
		parameterType="Pager">
			SELECT * FROM
			(SELECT ROWNUM R, BK.* FROM
			(SELECT * FROM NOTICE
			WHERE
			<choose>
				<when test="kind == 'title'">
					title
				</when>
				<when test="kind == 'contents'">
					contents
				</when>
				<otherwise>
					writer
				</otherwise>
			</choose>
			LIKE '%' || #{search} || '%'
			ORDER BY NUM DESC) BK)
			WHERE R BETWEEN #{startRow} AND #{lastRow}

	</select>

	<select id="getSelect" parameterType="BoardDTO"
		resultType="NoticeDTO">
		SELECT * FROM NOTICE WHERE NUM=#{num}
	</select>
	
	
	<update id="setHitUpdate" parameterType="BoardDTO">
		update notice set hits= hits+1 where num=#{num}
	</update>
	
	<select id="getFiles" parameterType="BoardDTO" resultType="BoardFilesDTO">
		SELECT * FROM NOTICEFILES WHERE NUM=#{num}
	</select>

	<insert id="setInsert" parameterType="BoardDTO">
		<selectKey order="BEFORE" resultType="Long" keyProperty="num">
			select notice_seq.nextval from dual
		</selectKey>
		INSERT INTO NOTICE(NUM,TITLE,CONTENTS,WRITER,REGDATE,HITS)
		VALUES(#{num},#{title},#{contents},#{writer},SYSDATE,0)
	</insert>
	
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE NOTICE WHERE NUM=#{num}
	</delete>

	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE SET TITLE=#{title},CONTENTS=#{contents},WRITER=#{writer}
		WHERE NUM=#{num}
	</update>
	
	

</mapper>