<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dg.s10.board.notice.NoticeDAO">

	<select id="getCommentCount" resultType="Long" parameterType="CommentsDTO">
		SELECT COUNT(commentNum) FROM COMMENTS
		WHERE board=#{board} and num=#{num}
	</select>


	<select id="getCommentList" parameterType="Map" resultType="CommentsDTO">
		SELECT * FROM
			(SELECT ROWNUM R, C.* FROM
				(SELECT * FROM COMMENTS WHERE BOARD=#{comments.board} AND NUM=#{comments.num} ORDER BY COMMENTNUM DESC) C)
		WHERE R BETWEEN #{pager.startRow} AND #{pager.lastRow}
	</select>

	<insert id="setComments" parameterType="CommentsDTO">
		INSERT INTO COMMENTS VALUES (COMMENTS_SEQ.NEXTVAL, #{num}, #{writer}, #{contents}, sysdate, #{board})
	</insert>

	<insert id="setFile" parameterType="BoardFilesDTO">
		INSERT INTO NOTICEFILES(FILENUM, NUM, FILENAME, ORINAME) VALUES (FILES_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
	</insert>

	<select id="getCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(NUM) FROM NOTICE
		WHERE
		<choose>
			<when test="kind == 'title'">
				title
			</when>
			<when test="kind == 'contents'">
				contents
			</when>
			<otherwise>
				writer
			</otherwise>
		</choose>
		LIKE '%' || #{search} || '%'
	</select>
	
	<select id="getList" resultType="NoticeDTO"
		parameterType="Pager">
			SELECT * FROM
			(SELECT ROWNUM R, BK.* FROM
			(SELECT * FROM NOTICE
			WHERE
			<choose>
				<when test="kind == 'title'">
					title
				</when>
				<when test="kind == 'contents'">
					contents
				</when>
				<otherwise>
					writer
				</otherwise>
			</choose>
			LIKE '%' || #{search} || '%'
			ORDER BY NUM DESC) BK)
			WHERE R BETWEEN #{startRow} AND #{lastRow}

	</select>
	
	<resultMap type="NoticeDTO" id="getSelectResult">
      <id column="num" property="num"/>
      <result column="title" property="title"/>
      <result column="contents" property="contents"/>
      <result column="writer" property="writer"/>
      <result column="regDate" property="regDate"/>
      <result column="hits" property="hits"/>
      <!-- 1:N관계, DTO내에 List가 멤버변수로 선언 -->
      <collection property="files" javaType="List" ofType="BoardFilesDTO">
         <id column="fileNum" property="fileNum"/>
         <result column="num" property="num"/>
         <result column="fileName" property="fileName"/>
         <result column="oriName" property="oriName"/>
      </collection>
   </resultMap>

	<select id="getSelect" parameterType="BoardDTO" resultMap="getSelectResult">
		SELECT N.*, NF.*
		FROM NOTICE N
   			LEFT JOIN 
    		NOTICEFILES NF
    	ON(N.NUM=NF.NUM) 
    	WHERE N.NUM=#{num}
	</select>
	
	
	<update id="setHitUpdate" parameterType="BoardDTO">
		update notice set hits= hits+1 where num=#{num}
	</update>
	
	<select id="getFiles" parameterType="BoardDTO" resultType="BoardFilesDTO">
		SELECT * FROM NOTICEFILES WHERE NUM=#{num}
	</select>

	<insert id="setInsert" parameterType="BoardDTO">
		<selectKey order="BEFORE" resultType="Long" keyProperty="num">
			select notice_seq.nextval from dual
		</selectKey>
		INSERT INTO NOTICE(NUM,TITLE,CONTENTS,WRITER,REGDATE,HITS)
		VALUES(#{num},#{title},#{contents},#{writer},SYSDATE,0)
	</insert>
	
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE NOTICE WHERE NUM=#{num}
	</delete>

	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE SET TITLE=#{title},CONTENTS=#{contents},WRITER=#{writer}
		WHERE NUM=#{num}
	</update>
	
	

</mapper>