<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dg.s10.board.qna.QnaDAO">

   <select id="getCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(NUM) FROM QNA
		WHERE
		<choose>
			<when test="kind == 'title'">
				TITLE
			</when>

			<when test="kind == 'contents'">
				CONTENTS
			</when>
			
			<otherwise>
				WRITER
			</otherwise>

		</choose>
		LIKE '%' || #{search} || '%'
	</select>
	<select id="getList" resultType="QnaDTO"
		parameterType="Pager">
		SELECT * FROM
		(SELECT ROWNUM R, QN.* FROM
		(SELECT*
		FROM QNA
		ORDER BY REF DESC, STEP ASC
		)
		QN
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow}

	</select>
	
	<select id="getSelect" parameterType="BoardDTO"
		resultType="QnaDTO">
		SELECT * FROM QNA WHERE NUM=#{num}
	</select>
	
	<insert id="setInsert" parameterType="BoardDTO">
		INSERT INTO QNA(NUM,TITLE,CONTENTS,WRITER,REGDATE,HITS, REF, STEP, DEPTH)
		VALUES(QNA_SEQ.NEXTVAL,#{title},#{contents},#{writer},SYSDATE,0 , qna_seq.currval, 0, 0)
	</insert>
	
	<update id="setHitUpdate" parameterType="BoardDTO">
		update qna set hits= hits+1 where num=#{num}
	</update>
	
	<update id="setReplyUpdate" parameterType="QnaDTO">
		UPDATE QNA SET STEP=STEP+1 WHERE REF=#{ref} AND STEP>#{step}
	</update>
	
	<insert id="setReply" parameterType="QnaDTO">
		INSERT INTO QNA(NUM,TITLE,CONTENTS,WRITER,REGDATE,HITS, REF, STEP, DEPTH)
		VALUES(QNA_SEQ.NEXTVAL,#{title},#{contents},#{writer},SYSDATE,0 , #{ref}, #{step}, #{depth})
	</insert>
   
</mapper>